# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Understand the basics of data science languages like Python and R.
- Learn about key data science libraries and their applications.
- Explore tools used for data analysis and visualization.
- Demonstrate basic Python operations and expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Examples of Arithmetic Expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply and then add numbers

In [3]:
result = (3 * 4) + 5
print(result)

17

In [4]:
# Convert 200 minutes to hours

In [8]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Homame Soussi